@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

:root{
    --cor0: #ddd9ce;
    --cor1: #DFD8ED;
    --cor2: #9FA2E3;
    --cor3: #676CC7;
    --cor4: #3E46DE;
    --cor5: #0F0091;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
}

body{
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}

header{
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor5));
    background-color: var(--cor4);
    min-height: 150px;
    padding-top: 40px;
    text-align: center;
}

header > h1{
    font-family: var(--font-destaque);
    color: white;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.521);
}

header > p{
    color: white;
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-family: var(--font-padrao);
    font-size: 1.2em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.521);
    padding-bottom: 10px;
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main p {
    margin: 15px 0;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
    margin-bottom: 50px;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
    background-color: var(--cor0);
}

main > a{
    margin-top: 50px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    transition-duration: 0.5s;
    text-decoration: none;
    background-color: var(--cor4);
    color: var(--cor1);
}


main > a:hover{
    background-color: var(--cor2);
    color: var(--cor5);
}


main h2{
    font-family: var(--font-android);
    color: var(--cor4);
    font-size: 1.3em;
    text-indent: 8px;
    background-image: linear-gradient(to right, var(--cor0), transparent);
}

footer{
    width: 100%;
    background-color: var(--cor5);
    color: var(--cor1);
    text-align: center;
    font-family: var(--font-padrao);
    padding: 20px;
    font-size: 0.8em;
    position: fixed;
    bottom:0;
    left:0;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: var(--cor3);
}
